"*":
  "atom-beautify":
    _analyticsUserId: "6fe7c5c7-8c61-4c6c-ac3b-a4bd3fe33475"
    general:
      _analyticsUserId: "6029e92a-a236-4b9d-b600-6696ceea8fee"
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "omnisharp-atom"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    telemetryConsent: "no"
    themes: [
      "unity-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
  "go-plus":
    goPath: "/Users/holman/Code/go"
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
    lintOnSave: false
    showErrorInline: false
    showGutters: false
    showHighlighting: false
  "linter-tidy":
    tidyExecutablePath: "usr/bin/tidy"
  "omnisharp-atom":
    enhancedHighlighting: true
    useLeftLabelColumnForSuggestions: true
  "release-notes":
    viewedVersion: "0.89.0"
  "remote-edit":
    showHiddenFiles: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "terminal-status": {}
  welcome:
    showOnStartup: false
